In [9]:
#imports everything i need
import pandas as pd
import matplotlib as plt
#reads the csv and sets it as data
data = pd.read_csv("nypd.csv")
#uses the head method to print out everything into a table
data.head()

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,263238742,02/08/2023,380.0,"ROBBERY,CAR JACKING",105.0,ROBBERY,PL 1601003,F,K,62,0,25-44,F,WHITE,989904,156928,40.597407,-73.979638,POINT (-73.979638 40.597407)
1,265590985,03/24/2023,155.0,RAPE 2,104.0,RAPE,PL 1303001,F,S,120,0,18-24,M,BLACK,962873,174172,40.644721,-74.077033,POINT (-74.0770327198983 40.6447209438691)
2,265798132,03/28/2023,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,S,120,0,25-44,M,BLACK,962873,174172,40.644721,-74.077033,POINT (-74.0770327198983 40.6447209438691)
3,269233687,06/02/2023,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,Q,110,0,25-44,M,WHITE HISPANIC,1019164,210169,40.743481,-73.874004,POINT (-73.8740035373971 40.7434812638841)
4,270519574,06/28/2023,157.0,RAPE 1,104.0,RAPE,PL 1303501,F,K,84,0,25-44,M,BLACK HISPANIC,988902,192641,40.695439,-73.983225,POINT (-73.9832253756043 40.6954388081238)

how does the crimes committed by 18-24 year olds average between males and females compare in different ethnicity?

In [24]:
#i made x equal to data but organized using groupby function and grouping by based on age group and race and then counting based on sex
x = data.groupby(['AGE_GROUP','PERP_RACE'])["PERP_SEX"].count()

AGE_GROUP  PERP_RACE
18-24      AMERICAN INDIAN/ALASKAN NATIVE       69
           ASIAN / PACIFIC ISLANDER            998
           BLACK                              9489
           BLACK HISPANIC                     2244
           UNKNOWN                             379
           WHITE                              1137
           WHITE HISPANIC                     5366
25-44      AMERICAN INDIAN/ALASKAN NATIVE      195
           ASIAN / PACIFIC ISLANDER           3338
           BLACK                             30480
           BLACK HISPANIC                     6261
           UNKNOWN                            1151
           WHITE                              6400
           WHITE HISPANIC                    16998
45-64      AMERICAN INDIAN/ALASKAN NATIVE       69
           ASIAN / PACIFIC ISLANDER           1299
           BLACK                             10924
           BLACK HISPANIC                     1520
           UNKNOWN                             405
           WHITE                              2920
           WHITE HISPANIC                     4921
65+        AMERICAN INDIAN/ALASKAN NATIVE       12
           ASIAN / PACIFIC ISLANDER            183
           BLACK                               773
           BLACK HISPANIC                       94
           UNKNOWN                              32
           WHITE                               361
           WHITE HISPANIC                      311
<18        AMERICAN INDIAN/ALASKAN NATIVE       11
           ASIAN / PACIFIC ISLANDER            177
           BLACK                              2417
           BLACK HISPANIC                      493
           UNKNOWN                              52
           WHITE                               152
           WHITE HISPANIC                      940
Name: PERP_SEX, dtype: int64

how does number of crimes committed by male age group 18-24 compare to median number of crimes committed by males in the age group 25-44

In [32]:
#makes a graph using the groupby function and groups by age group and sex and then counts based on age group.
data.groupby(['AGE_GROUP','PERP_SEX'])['AGE_GROUP'].count()

AGE_GROUP  PERP_SEX
18-24      F            3596
           M           15556
           U             530
25-44      F           11085
           M           52031
           U            1707
45-64      F            3256
           M           18185
           U             617
65+        F             273
           M            1437
           U              56
<18        F             765
           M            3387
           U              90
Name: AGE_GROUP, dtype: int64